body{
  background-image: url("Fondo.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  
  

}
#titulo{
  margin-left: 10em;
  margin-right: 20em;
  color: white;
}
#caja1{
	margin-left: 20em;
	margin-right: 20em;
}
td{
 background: #66CDAA;
 border-color: #008080;

}

#caja2{
	text-align:center; 
	margin-top: 5em;
	background-color: transparent
}

#imagen{
	margin-left: 5px;
	margin-right: 5px;
}
