body{
  background-image: url("Fondo.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}
#titulo{
 
  color: white;
  text-align: center;
}
#caja1{
	margin-left: 20em;
	margin-right: 20em;
}
td{
 background: #66CDAA;
 border-color: #008080; 
 font-size: x-large;
}
#caja2{
	margin-top: 10em;
	margin-left: 20em;
	margin-right: 20em;
	color: white;
